{% extends "booking/base_main.html" %}
{% load static %}

{% block form %}
    <h4 class="font-weight-light primary-color mb-5">Booking Confirmed</h4>

    <div class="">
        <p class="mb-1 font-weight-normal">Arlene Robertson</p>
        <p class="font-14 secondary-color font-weight-light mb-2">ramona.lowe@example.com</p>
        <p class="font-14 secondary-color font-weight-light">(225) 555-0118</p>
    </div>

    <div class="my-4">
        <p class="mb-1 font-weight-light font-14 secondary-color">LifeLead Hospital, Orile-Agege, Lagos</p>
        <p class="font-14 secondary-color font-weight-light mb-2">Orile-Agege, Lagos</p>
        <h6 class="font-weight-normal">Jan 26, 2020  -  07:45 pm</h6>
    </div>

    <div class="success_msg p-2">
        <p class="secondary-color font-weight-normal font-14 text-center mb-0">You are 3rd in queue, Please be in location at least 5 mins before time. Have a splendid shopping experience</p>
    </div>

    <div class="row mt-5 mb-4">
        <div class="col-lg-12 text-center">
            <a href="index.html" class="btn btn-next py-2 next">Return home</a>
        </div>
    </div>
{% endblock form %}