{% extends "booking/base_main.html" %}
{% load static %}

{% block custom_sheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
{% endblock custom_sheets %}

{% block form %}
    <h4 class="font-weight-light primary-color mb-5">Please choose date &amp; time </h4>

    <div class="form-group my-5">
        <label for="lga" class="secondary-color font-13 font-weight-light" required>Choose date and time</label>
        <input type="text" class="form-control" id="datetimepicker" data-toggle="datetimepicker" data-target="#datetimepicker" required />
    </div>

    <div class="row mt-5 mb-4">
        <div class="col-lg-6 col-6">
            <a href="#" class="btn btn-previous py-2 previous">Previous</a>
        </div>
        <div class="col-lg-6 col-6 text-right">
            <button type="submit" class="btn btn-next py-2 next">Next</button>
        </div>
    </div>
{% endblock form %}

{% block custom_scripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker').datetimepicker();
        });
    </script>
{% endblock custom_scripts %}