{% extends "booking/base_main.html" %}
{% load static %}

{% block form %}
        <h4 class="font-weight-light primary-color mb-5">Please select your state of residence</h4>

        <div class="form-group my-5">
            <label for="state" class="secondary-color font-13 font-weight-light">
                Select State
            </label>
            <select class="custom-select" id="state" name="state" required>
                {% for x,y in form.fields.state.choices %}
                    <option value="{{ x }}"{% if x == form.state.value or form.fields.state.value == x %} selected{% endif %}>{{ y }}</option>
                {% endfor %}
            </select>
            {{ form.state.errors }}
        </div>

        <div class="mt-5 mb-4 text-right">
            <button type="submit" class="btn btn-next py-2 next">Next</button>
        </div>
{% endblock form %}