{% extends 'dashboard/includes/modal.html' %}
{% load static %}

{% block modal_content %}
    <form method="POST" action="{% url 'dashboard:create_sp' %}" class="modal-content">
        {% csrf_token %}
        <div class="modal-header login-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4 class="modal-title">Add Service Provider</h4>
        </div>
        <div class="modal-body">
            <ul class="errorlist non_field_errors" style="list-style:none;padding-left:0;"></ul>
            <input type="text" placeholder="Service Provider name" class="form-control" name="name" />
            <ul class="errorlist name" style="list-style:none;padding-left:0;"></ul>
            <textarea placeholder="Description" class="form-control" name="desc" ></textarea>
            <ul class="errorlist desc" style="list-style:none;padding-left:0;"></ul>
            <input type="text" placeholder="Email" class="form-control" name="email" />
            <ul class="errorlist email" style="list-style:none;padding-left:0;"></ul>
            <input type="text" placeholder="Phone Number" class="form-control" name="phone" />
            <ul class="errorlist phone" style="list-style:none;padding-left:0;"></ul>
            <select class="form-control" name="state" id="state" ></select>
            <ul class="errorlist state" style="list-style:none;padding-left:0;"></ul>
            <select class="form-control" name="lga" id="lga" ></select>
            <ul class="errorlist lga" style="list-style:none;padding-left:0;"></ul>
        </div>
        <div class="modal-footer">
            <button type="button" class="cancel" data-dismiss="modal">Close</button>
            <button type="submit" class="add-service-provider">Submit</button>
        </div>
    </form>
{% endblock modal_content %}