{% extends 'base_admin.html' %}
{% load static  %}

{% block dashboard %}
    <div class="display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                <div class="logo">
                    <a hef="home.html"><img src="http://jskrishna.com/work/merkury/images/logo.png" alt="[SAFETEST]" class="hidden-xs hidden-sm">
                        <img src="http://jskrishna.com/work/merkury/images/circle-logo.png" alt="[SAFETEST]" class="visible-xs visible-sm circle-logo">
                    </a>
                </div>
                <div class="navi">
                    <ul>
                        <li class="active"><a href="#"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Home</span></a></li>
                        <li><a href="#"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Service Providers</span></a></li>
                        <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Bookings</span></a></li>
                        <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Settings</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-11 display-table-cell v-align">
                <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
                <div class="row">
                    <header>
                        <div class="col-md-7">
                            <nav class="navbar-default pull-left">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            </nav>
                            <div class="search hidden-xs hidden-sm">
                                <input type="text" placeholder="Search" id="search">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="header-rightside">
                                <ul class="list-inline header-top">
                                    <li class="hidden-xs">
                                        <a href="#" class="add-service-provider" data-toggle="modal" data-target="#addServiceProvider">
                                            Add Service Provider
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="icon-info">
                                            <i class="fa fa-bell" aria-hidden="true"></i>
                                            <span class="label label-primary">3</span>
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="http://jskrishna.com/work/merkury/images/user-pic.jpg" alt="user">
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="navbar-content">
                                                    <span>JS Krishna</span>
                                                    <p class="text-muted small">
                                                        me@jskrishna.com
                                                    </p>
                                                    <div class="divider">
                                                    </div>
                                                    <a href="#" class="view btn-sm active">View Profile</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </header>
                </div>
                {% block content %}
                {% endblock content %}
                </div>
            </div>
        </div>
    </div>

    {% include 'dashboard/includes/components/sp_form.html' with modal_id="addServiceProvider" %}
    
    <script src="{% static 'assets/js/lga_data.js' %}"></script>
    <script src="{% static 'assets/js/dashboard.js' %}"></script>
    <script>
		let formModal = $('#addServiceProvider')
		
		function csrfSafeMethod (method) {
			// these HTTP methods do not require CSRF protection
			return /^(GET|HEAD|OPTIONS|TRACE)$/.test(method)
		}

		function processForm(form, url) {
			let csrftoken = $('[name="csrfmiddlewaretoken"]')[0].value;

			$.ajaxSetup({
				beforeSend: function (xhr, settings) {
					if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
						xhr.setRequestHeader('X-CSRFToken', csrftoken)
					}
				}
			})

			return $.ajax({
				type: 'POST',
				url: url,
				data: form,
				contentType: false,
				cache: false,
				processData: false
			});
		}

		function changeValue(input) {
			$(input).html('');
		}

		$(formModal).submit(function(e) {
			e.preventDefault();

			let formData = new FormData();

			$(this).find('[type="submit"]')
					.prop({
						'disabled': true
					}).text('Submitting...');
			
			console.log(this[1])
			console.log(this[1])
			console.log(this[1])
			console.log(this[1])
			console.log(this[1])
			console.log(this[1])

			// formData.append(this[1].name, this[1].value);
			// formData.append(this[2].name, this[2].value);
			// formData.append(this[3].name, this[3].value);
			// formData.append(this[4].name, this[4].value);
			// formData.append(this[5].name, this[5].value);
			// formData.append(this[6].name, this[6].value);

			processForm(formData, this.action)
				.done(res => {
					if (res.message) {
						$(this).find(".messages").html(`
							<li class="alert alert-success alert-dismissible fade show" role="alert">
								${res.message}
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</li>
						`)
						setTimeout(changeValue, 10000, $(this).find(".messages"));
					}

					this.reset();
					$(this).find('[type="submit"]')
							.prop({
								'disabled': false
							}).text('Submit');
				})
				.fail(res => {
					res = res.responseJSON;
					
					if (res.__all__) {
						res.__all__.map(x => {
							$(this).find(".errorlist.non_field_errors").append(`
								<li class="alert alert-danger alert-dismissible fade show" role="alert">
									${x}
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</li>
							`)
						})
						setTimeout(changeValue, 10000, $(this).find(".errorlist.non_field_errors"));
					}

					if (res.message) {
						$(this).find(".messages").html(`
							<li class="alert alert-danger alert-dismissible fade show" role="alert">
								${res.message}
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</li>
						`)
						setTimeout(changeValue, 10000, $(this).find(".messages"));
					}
					
					$(this).find('[type="submit"]')
							.prop({
								'disabled': false
							}).text('Submit');
				})
		})
	</script>
{% endblock dashboard %}