{% load static  %}
<!DOCTYPE html>
<html lang="en">
    <head lang="en-US">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="SafeTest" />
        <title>SafeTest | Dashboard</title>
        <!--favicicon-->
        <link rel="icon" href="{% static 'assets/img/favicon.png' %}" sizes="192x192" />
        <link rel="apple-touch-icon-precomposed" href="{% static 'assets/img/favicon.png' %}" />
        <meta name="msapplication-TileImage" content="#" />
        <meta name="description" content="SafeTest" />
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'assets/css/dashboard.css' %}" />
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    </head>
    <body class="home">

        {% block dashboard %}
        {% endblock dashboard %}

    </body>
</html>